@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<div class="add-new-tab">
    <a href="@Url.Action("Create", "Product")">Add Product</a>
</div>
<hr />





<table class="table table-bordered table-striped">
    <tr>
        <th>Product name: </th>
        <th>Description: </th>
        <th>Category: </th>
        <th>Manufacturer: </th>
        <th>Supplier: </th>
        <th>Price:  </th>
        <th>Options</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>
                <a href="@Url.Action("Edit", "Product", new { @id = Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("Delete", "Product", new { @id = Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }
</table>
<hr />
@using (Html.BeginForm("Import", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @ViewBag.Error
        @ViewBag.Success
        <br />
        JSON file <input type="file" , name="jsonFile" />
        <br />
        <input type="submit" value="Import" />
    </div>
}
<hr />

<style>
    .add-new-tab {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .import-tab {
    }
</style>





